		</div>
	</div>
	<footer></footer>
	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/jquery-validation-1.15.0/dist/localization/messages_zh.js"></script>
	<script type="text/javascript"  src="/kindeditor/kindeditor-all-min.js"></script>
	<script type="text/javascript"  src="/kindeditor/lang/zh_CN.js"></script>
	<script type="text/javascript" src="/javascripts/blog.js"></script>
</body>
</html>
