<!DOCTYPE html>
<html>
<head>
	<meta chatset="UTF-8"/>
	<meta http-equiv="content-type" content="text/html">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>杨小涛的Blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">


</head>
<body>
	<%- include navbar %>
	<div class="container">
		<article>
			<% if (success) { %>
				<div class="success alert alert-success"><h3><%= success %></h3></div>
			<% } %>
			<% if (error) { %>
				<div class="error alert alert-danger"><h3><%= error %></h3> </div>
			<% } %>
		</article>

		<header>
			<h3><%= title %></h3>
		</header>
		<div class="row">

		


