<form method="post" name="form" class="blog-form comment-form" action="/p/<%= post._id %>">
	<% if(user){ %>
		<div>
			<label for="name">您的大名：</label>
			<input type="text" name="name" id="name" value="<%= user.name %>" tabindex="1" required/>
			<span class="required">*</span>
		</div>
		<div>
			<label for="emai;">邮箱：</label>
			<input type="email" name="email" id="email" value="<%= user.email %>" tabindex="2" />
		</div>
		<div>
			<label for="website">网址：</label>
			<input type="text" name="website" id="website" value="/u/<%= user.name %>" tabindex="3" />
		</div>
	<% }else { %>
		<div>
			<label for="name">您的大名：</label>
			<input type="text" name="name" id="name" value="" tabindex="1" required/>
			<span class="required">*</span>
		</div>
		<div>
			<label for="email">邮箱：</label>
			<input type="email" name="email" id="email" value="" tabindex="2" />
		</div>
		<div>
			<label for="website">网址：</label>
			<input type="text" name="website" id="website" value="http://" tabindex="3" />
		</div>
	<% } %>
	<div>
		<label for="content">留言：</label><br />
		<textarea cols="80" rows="10" name='content' tabindex="4" class="commentarea kindeditor"></textarea>
	</div>
	<input type="submit" value="发表" class="btn-comment btn btn-primary" />
</form>