<%- include ../header %>
	<div id="projects">  
        <a href="/learning/jscharts"  class=" ">js绘图学习</a>
        <a href="/learning/interactive"  class=" ">css3菜单</a>
        <a href="/learning/waterfall"  class=" ">图片瀑布流</a>
        <a href="/learning/picturewall"  class=" ">照片墙</a>
        <a href="/learning/jscharts"  class=" ">js绘图学习</a>
        <a href="/learning/interactive"  class=" ">css3菜单</a>
        <a href="/learning/waterfall"  class=" ">图片瀑布流</a>
        <a href="/learning/picturewall"  class=" ">照片墙</a>
        <a href="/learning/jscharts"  class=" ">js绘图学习</a>
        <a href="/learning/interactive"  class=" ">css3菜单</a>
        <a href="/learning/waterfall"  class=" ">图片瀑布流</a>
        <a href="/learning/picturewall"  class=" ">照片墙</a>
        <!--<a href="/learning/jscharts"  class=" ">js绘图学习</a>
        <a href="/learning/jscharts"  class=" ">js绘图学习</a>
        <a href="/learning/jscharts"  class=" ">js绘图学习</a>
        <a href="/learning/jscharts"  class=" ">js绘图学习</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/jscharts"  class=" ">js绘图学习</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>
        <a href="/learning/angular"  class=" ">angular实例</a>-->
    </div>
    <script src="/javascripts/lrtk.js"></script>
<%- include ../footer %>
