<%- include ../header %>
	<div id="learning">
        <header class="pull-middle">正在开发中...</header>
        <div class="list-group col-xs-3 col-md-2">
            <a href="/learning/jscharts"  class="list-group-item ">js绘图学习</a>
            <a href="/learning/angular"  class="list-group-item ">angular实例</a>
        </div>
    </div>
<%- include ../footer %>
